<div class="container">
  {{> profileTabnav}}
  <h1>Are you sure you want to delete your Account?</h1>

  <form action="/profile/delete" method="POST">

    <p>do you want to delete all your articles together with your Account?</p>

    <button class="btn btn-outline-danger">delete Profile</button>
  </form>
</div>