<div class="mt-2">
{{! bootstrap paginator classes => optionElementClass="mx-auto etc..." }}
{{! bootstrap paginator control buttons => 
    optionText="last page" }}
<div id="pagination-box">
  {{{paginator
    pagination
    ulElementClass="pagination"
    liElementClass="btn btn-secondary"
    liDisabledElementClass="btn btn-secondary btn-outline-secondary"
    liActivePageClass="btn btn-primary"
    liElementPageClass="btn btn-secondary"
    aElementClass="text-reset"
    aActiveElementClass="text-reset"
    firstText="First"
    lastText="Last"
    prevText="<<"
    nextText=">>"
  }}}
</div>