{{! bootstrap paginator classes => optionElementClass="mx-auto etc..." }}
{{! bootstrap paginator control buttons => 
    optionText="last page" }}
<div id="pagination-box">
  {{{paginator
    pagination
    ulElementClass="pagination"
    liElementClass="btn btn-secondary"
    liDisabledElementClass="btn btn-secondary btn-outline-secondary"
    liActivePageClass="btn btn-warning"
    liElementPageClass="btn btn-secondary"
    aElementClass="text-reset text-decoration-none"
    aActiveElementClass="text-reset text-decoration-none"
    firstText="first"
    lastText="last"
    prevText="<<"
    nextText=">>"
  }}}
</div>