<div class="container">
  <h1>Write a new Article</h1>
  <form action="/articles/create" method="POST" enctype="multipart/form-data">
    <div class="form-floating">
      <input
        type="text"
        id="input-title"
        name="title"
        placeholder="Title for article"
        class="form-control"
      />
      <label for="input-title">Title for Article</label>
    </div>

    <div class="form-floating">
      <select
        class="form-select"
        id="categories"
        name="categories"
        aria-label="categories"
        required
      >
        {{#each categories}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}

      </select>
      <label for="categories">Article Category/Topic</label>
    </div>
    <div class="mt-2">
      <label for="thumbnail-select-file" class="form-label">Upload your Article
        Thumbnail</label>
      <input
        class="form-control"
        type="file"
        id="thumbnail-select-file"
        name="thumbnailUrl"
      />

    </div>
    <button class="btn btn-primary text-indigo-100 mt-2">Create Article and
      Start Adding Content</button>
  </form>
</div>