<div class="container">
  <h1 class="mt-2">Article main page</h1>
  <!-- Todo: Make a list with categorys and fit each Article in the right Topic! -->
  <!-- Todo:  #each category/topic  -->
 {{> articleCards}}
</div>
 