<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<!-- ???: This is just for testing purpose and no get familiar with it. Can be removed from this line and page -->
<div id="editorjs" style="border: 1px solid black;"></div>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
<script
  src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"
></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script>