<div class="hero-image">
  <div class="hero-text">
    <h1>Welcome to Web Dev Topics Blog </h1>
    <p>You can discover or publish your own articles in the development world!</p>
    {{#if user}}{{else}}
      <a class="btn btn-info" href="/authentication/sign-up">Register a new
        Account now!</a>
    {{/if}}
    <a class="btn btn-primary" href="/articles">Discover Articles</a>
  </div>
</div>