<div class="container pt-5">
  <form action="/authentication/sign-up" method="POST">
    <div class="form-floating mb-3">
      <input
        type="text"
        id="input-name"
        name="username"
        placeholder="Username Here!"
        class="form-control"
      />
      <label for="input-name">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="email"
        id="input-email"
        name="email"
        placeholder="Your Email"
        class="form-control"
      />
      <label for="input-email">Email Address</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        name="password"
        id="input-password"
        placeholder="A Strong Password"
        class="form-control"
      />
      <label for="input-password">Password</label>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="user_type"
        id="user_type_reader"
        checked
      />
      <label class="form-check-label" for="user_type_reader">
        Reader
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="user_type"
        id="user_type_author"
      />
      <label class="form-check-label" for="user_type_author">
        Author
      </label>
    </div>

    <button class="btn btn-primary text-indigo-100 mt-4">Sign Up</button>
  </form>
</div>