@import 'copied_css';

$color1: #ffffff;
$color2: #062a6c;
$color3: #548cff;
$color4: #ff7a4f;
$color5: #111111;
$color6: #0093e9;
$fsize1: 0.813rem;
$fsize2: 1.25rem;

@mixin generalHover {
  filter: invert(1);
}

@mixin navLink {
  padding: 8px 5px;
  margin: 4px auto;
  width: 85%;
  min-width: 35px;
  background-color: rgba($color5, 0.3);
  display: flex;
  justify-content: space-evenly;
  font-size: 1.1em;
  border-radius: 5px;
  color: $color1;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body {
  position: relative;
  height: 100vh;
}

main {
  //min-height: 100vh;
  margin-left: 86px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 2.65rem;
}

nav {
  background-color: $color3;
  background-image: linear-gradient(180deg, $color6 0%, $color3 100%);
  width: 70px;
  height: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;

  #menuBtn {
    background-color: $color2;
    padding: 10px;
    cursor: pointer;

    div {
      border: 2px solid $color1;
      margin: 4px auto;
      max-width: 40px;
      position: relative;
      transition: all 0.2s;
    }

    &.pressedBtn {
      .b1 {
        transform: rotate(45deg);
        top: 9px;
      }
      .b2 {
        transform: rotate(-45deg);
      }
      .b3 {
        transform: rotate(45deg);
        top: -7px;
      }
    }
  }

  #navLogo {
    a {
      @include navLink();
    }
    .linkTitle {
      display: none;
    }
    &:hover {
      background-color: $color1;
      color: $color5;
    }
  }

  #navLinks {
    margin-top: auto;
    margin-bottom: auto;
    list-style-type: none;

    li {
      align-self: center;
      text-align: center;

      button {
        background: none;
        border: none;
        @include navLink();

        .linkTitle {
          display: none;
        }

        &:hover {
          background-color: $color1;
          color: $color5;
        }
      }

      a {
        @include navLink();

        .linkTitle {
          display: none;
        }

        &:hover {
          background-color: $color1;
          color: $color5;
        }
      }
    }
  }

  &.navbarOpen {
    width: 280px;
    #navLogo {
      a {
      }
    }

    #navLinks {
      li {
        button {
          .linkTitle {
            display: inline-block;
            margin-right: 10px;
          }
        }
        a {
          .linkTitle {
            display: inline-block;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

#footer {
  z-index: 1000;
  width: 100%;
  height: 2.65rem;
  background-image: linear-gradient(270deg, $color6 0%, $color3 100%);
  color: $color1;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  #footer-social {
    a {
      display: inline-block;
      font-size: 1.6em;
      text-align: center;
      color: $color1;
      text-decoration: none;

      span {
        font-size: 0.7em;
        display: none;
      }

      &:hover {
        color: $color2;
      }
    }
  }
}

/***  ***/
#article-preview-box {
  margin: 0 auto;
  display: flex;
  max-width: 1420px;
  //flex-direction: column;
  gap: 0.6rem;
  flex-wrap: wrap;
}
/*** Article Preview Cards ***/
.article-card {
  display: grid;
  grid-template-columns: 280px minmax(300px, 420px);
  max-width: 700px;
  border-radius: 10px;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.02),
    25px 25px 20px rgba(0, 0, 0, 0.03),
    // FIXME: Chose color for box shadow instead of dark gray ??
    100px 100px 80px rgba(0, 0, 0, 0.05);
  .thumbnail-box {
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    div {
      padding: 2px 4px;
      margin: 1rem 0 0 1rem;
      position: absolute;
      color: $color1;
      background-color: rgba(200, 200, 200, 0.75);
      border-radius: 10px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
      transition: all 0.5s ease;
    }
  }
  .article-card-content {
    background: $color1;
    padding: 32px 40px;
    border-radius: 0 10px 10px 0;
    width: 100%;
    h3 {
      font-size: $fsize2;
      color: $color2;
      margin-bottom: 12px;
      line-height: 1.4;
      &:hover {
        @include generalHover();
      }
    }
    p {
      color: $color5;
      font-size: $fsize1;
      line-height: 1.5;
      margin-bottom: 18px;
    }
  }
  .article-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
      align-items: center;
      img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-right: 15px;
        display: block;
      }
      h4 {
        color: $color5;
        font-size: $fsize1;
        &:hover {
          @include generalHover();
        }
      }
      .publish-date {
        color: $color5;
        font-size: $fsize1;
      }
    }
  }
  &:hover {
    .thumbnail-box img {
      transform: scale(1.1);
    }
  }
  .share {
    position: relative;
    button {
      background: $color6;
      padding: 4px;
      border-radius: 21px;
      font-size: $fsize2;
      color: $color1;
      border: none;
      transition: all 0.25s ease;
      &:hover,
      share-btn.active {
        color: $color6;
        background-color: $color2;
      }
    }
    .share-option {
      /**
   * variable for transforming `.share-option` box 
   * without repeating all transform value
   */
      --scale: 0;
      --translateX: -50%;
      --translateY: 0;
      visibility: hidden;
      .active {
        --scale: 1;
        visibility: visible;
      }
      ::after {
        content: '';
        background: $color2;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -60% rotate(45deg));
      }
      span {
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: $color1;
        margin-right: 5px;
      }
      a {
        font-size: 22px;
        &:hover {
          @include generalHover();
        }
      }
    }
  }
}

/*** Profile Section ***/
/*** Tabination ***/
.profile-tabs {
  width: 100%;
  margin-top: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $color5;
  .tab {
    border-radius: 3px 3px 0px 0px;
    background: $color2;
    color: $color1;
    padding: 10px 20px;
    margin: 0 4px;
    box-shadow: 6px -2px 15px -11px rgba(0, 0, 0, 0.75),
      -6px -2px 15px -11px rgba(0, 0, 0, 0.75);
    a {
      color: $color1;
    }
  }
  .active {
    background: $color1;
    border-top: 3px solid $color6;
    a {
      color: $color5;
      font-weight: bold;
    }
  }
}

// $font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $grey: hsl(0, 0, 90%);

// * {
//   &,
//   &:before,
//   &:after {
//     box-sizing: border-box;
//   }
// }

// body {
//   max-width: 52em;
//   padding: 0 1em;
//   margin: 0 auto;
//   font-family: sans-serif;
//   font-family: $font-sans;
//   line-height: 2;
// }

// a {
//   color: inherit;
//   text-decoration: none;
// }

// nav {
//   display: flex;
//   a,
//   button {
//     padding: 1em 0;
//     border: 0;
//     &:not(:last-child) {
//       margin-right: 1em;
//     }
//     &:first-child {
//       margin-right: auto;
//     }
//   }
// }

// h1,
// h2,
// h3,
// p {
//   margin: 0;
//   line-height: inherit;
//   &:not(:last-child) {
//     margin-bottom: 1rem;
//   }
// }

// img {
//   width: 100%;
//   max-width: 100%;
// }

// form {
//   display: flex;
//   flex-direction: column;
// }

// input:not([type='checkbox']),
// input:not([type='radio']),
// input:not([type='range']),
// textarea,
// select,
// button,
// .btn {
//   padding: 1em;
//   border: 1px solid $grey;
//   border-radius: 0;
//   margin-bottom: 1em;
//   font: inherit;
//   color: inherit;
//   background-color: transparent;
// }

// textarea {
//   min-height: 8em;
//   resize: vertical;
// }

// label {
//   margin-bottom: 0.5em;
// }
