@import 'copied_css';

$primary-color: #548cff;
$scondary-color: #062a6c;
$black-color: #111111;
$white-color: #ffffff;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.article-content {
  border: 1px solid $primary-color;
}

@mixin navLink {
  padding: 8px 5px;
  margin: 4px auto;
  width: 85%;
  min-width: 35px;
  background-color: rgba($black-color, 0.3);
  display: flex;
  justify-content: space-evenly;
  font-size: 1.1em;
  border-radius: 5px;
  color: $white-color;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

main {
  min-height: 100%;
  padding: 30px 30px 20px 30px;
  margin-left: 86px;
}

.container {
  margin: 0 auto;
  padding: 8px;
}

nav {
  background-color: $primary-color;
  width: 70px;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;

  #menuBtn {
    background-color: $scondary-color;
    padding: 10px;
    cursor: pointer;

    div {
      border: 2px solid $white-color;
      margin: 4px auto;
      max-width: 40px;
      position: relative;
      transition: all 0.2s;
    }

    &.pressedBtn {
      .b1 {
        transform: rotate(45deg);
        top: 9px;
      }
      .b2 {
        transform: rotate(-45deg);
      }
      .b3 {
        transform: rotate(45deg);
        top: -7px;
      }
    }
  }

  #navLogo {
    a {
      @include navLink();
    }
    .linkTitle {
      display: none;
    }
    &:hover {
      background-color: $white-color;
      color: $black-color;
    }
  }

  #navLinks {
    margin-top: auto;
    margin-bottom: auto;
    list-style-type: none;

    li {
      align-self: center;
      text-align: center;

      button {
        background: none;
        border: none;
        @include navLink();

        .linkTitle {
          display: none;
        }

        &:hover {
          background-color: $white-color;
          color: $black-color;
        }
      }

      a {
        @include navLink();

        .linkTitle {
          display: none;
        }

        &:hover {
          background-color: $white-color;
          color: $black-color;
        }
      }
    }
  }

  &.navbarOpen {
    width: 280px;
    #navLogo {
      a {
      }
    }

    #navLinks {
      li {
        button {
          .linkTitle {
            display: inline-block;
            margin-right: 10px;
          }
        }
        a {
          .linkTitle {
            display: inline-block;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

#footer {
  padding: 10px 0px;
  background: $primary-color;
  color: $white-color;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  #footer-social {
    a {
      display: inline-block;
      font-size: 1.6em;
      text-align: center;
      color: $white-color;
      text-decoration: none;

      span {
        font-size: 0.7em;
        display: none;
      }

      &:hover {
        color: $scondary-color;
      }
    }
  }
}

.form-control {
  margin-bottom: 1.5rem;
}

.mt-2 {
  margin-top: 1.5rem;
}
.mb-2 {
  margin-bottom: 1.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #ddd;
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $primary-color;
    color: white;
  }
}

.pagination {
  a {
    text-decoration: none;
    color: $primary-color;
  }
  .active {
    background-color: $primary-color;
    a {
      color: $white-color !important;
    }
  }
}

// $font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $grey: hsl(0, 0, 90%);

// * {
//   &,
//   &:before,
//   &:after {
//     box-sizing: border-box;
//   }
// }

// body {
//   max-width: 52em;
//   padding: 0 1em;
//   margin: 0 auto;
//   font-family: sans-serif;
//   font-family: $font-sans;
//   line-height: 2;
// }

// a {
//   color: inherit;
//   text-decoration: none;
// }

// nav {
//   display: flex;
//   a,
//   button {
//     padding: 1em 0;
//     border: 0;
//     &:not(:last-child) {
//       margin-right: 1em;
//     }
//     &:first-child {
//       margin-right: auto;
//     }
//   }
// }

// h1,
// h2,
// h3,
// p {
//   margin: 0;
//   line-height: inherit;
//   &:not(:last-child) {
//     margin-bottom: 1rem;
//   }
// }

// img {
//   width: 100%;
//   max-width: 100%;
// }

// form {
//   display: flex;
//   flex-direction: column;
// }

// input:not([type='checkbox']),
// input:not([type='radio']),
// input:not([type='range']),
// textarea,
// select,
// button,
// .btn {
//   padding: 1em;
//   border: 1px solid $grey;
//   border-radius: 0;
//   margin-bottom: 1em;
//   font: inherit;
//   color: inherit;
//   background-color: transparent;
// }

// textarea {
//   min-height: 8em;
//   resize: vertical;
// }

// label {
//   margin-bottom: 0.5em;
// }
