@import 'copied_css';

$color1: #ffffff;
$color2: #062a6c;
$color3: #548cff;
$color4: #ff7a4f;
$color5: #111111;
$color6: #548cff;

@mixin navLink {
  padding: 8px 5px;
  margin: 4px auto;
  width: 85%;
  min-width: 35px;
  background-color: rgba($color5, 0.3);
  display: flex;
  justify-content: space-evenly;
  font-size: 1.1em;
  border-radius: 5px;
  color: $color1;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

main {
  height: 100%;
  margin-left: 86px;
}

nav {
  background-color: $color3;
  width: 70px;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;

  #menuBtn {
    background-color: $color2;
    padding: 10px;
    cursor: pointer;

    div {
      border: 2px solid $color1;
      margin: 4px auto;
      max-width: 40px;
      position: relative;
      transition: all 0.2s;
    }

    &.pressedBtn {
      .b1 {
        transform: rotate(45deg);
        top: 9px;
      }
      .b2 {
        transform: rotate(-45deg);
      }
      .b3 {
        transform: rotate(45deg);
        top: -7px;
      }
    }
  }

  #navLogo {
    a {
      @include navLink();
    }
    .linkTitle {
      display: none;
    }
    &:hover {
      background-color: $color1;
      color: $color5;
    }
  }

  #navLinks {
    margin-top: auto;
    margin-bottom: auto;
    list-style-type: none;

    li {
      align-self: center;
      text-align: center;

      button {
        background: none;
        border: none;
        @include navLink();

        .linkTitle {
          display: none;
        }

        &:hover {
          background-color: $color1;
          color: $color5;
        }
      }

      a {
        @include navLink();

        .linkTitle {
          display: none;
        }

        &:hover {
          background-color: $color1;
          color: $color5;
        }
      }
    }
  }

  &.navbarOpen {
    width: 280px;
    #navLogo {
      a {
      }
    }

    #navLinks {
      li {
        button {
          .linkTitle {
            display: inline-block;
            margin-right: 10px;
          }
        }
        a {
          .linkTitle {
            display: inline-block;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

#footer {
  padding: 21px 0;
  background: $color6;
  color: $color1;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  #footer-social {
    a {
      display: inline-block;
      font-size: 1.6em;
      text-align: center;
      color: $color1;
      text-decoration: none;

      span {
        font-size: 0.7em;
        display: none;
      }

      &:hover {
        color: $color2;
      }
    }
  }
}
// $font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
// $grey: hsl(0, 0, 90%);

// * {
//   &,
//   &:before,
//   &:after {
//     box-sizing: border-box;
//   }
// }

// body {
//   max-width: 52em;
//   padding: 0 1em;
//   margin: 0 auto;
//   font-family: sans-serif;
//   font-family: $font-sans;
//   line-height: 2;
// }

// a {
//   color: inherit;
//   text-decoration: none;
// }

// nav {
//   display: flex;
//   a,
//   button {
//     padding: 1em 0;
//     border: 0;
//     &:not(:last-child) {
//       margin-right: 1em;
//     }
//     &:first-child {
//       margin-right: auto;
//     }
//   }
// }

// h1,
// h2,
// h3,
// p {
//   margin: 0;
//   line-height: inherit;
//   &:not(:last-child) {
//     margin-bottom: 1rem;
//   }
// }

// img {
//   width: 100%;
//   max-width: 100%;
// }

// form {
//   display: flex;
//   flex-direction: column;
// }

// input:not([type='checkbox']),
// input:not([type='radio']),
// input:not([type='range']),
// textarea,
// select,
// button,
// .btn {
//   padding: 1em;
//   border: 1px solid $grey;
//   border-radius: 0;
//   margin-bottom: 1em;
//   font: inherit;
//   color: inherit;
//   background-color: transparent;
// }

// textarea {
//   min-height: 8em;
//   resize: vertical;
// }

// label {
//   margin-bottom: 0.5em;
// }
